<% @page_title ="About" %>

<div class="staticContent">
<h1 style="text-align:center;">About</h1>

<p>The site is a support group where individuals who are affected directly or indirectly by cancer can share their joy,pain and sorrow.</p>
	
</div>


