.container
{
	width: 1000px;
}
header
{
	padding-top: 20px;
}
body
{
	background-color:#ffb6c1;
}

nav
{
	float: right;
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
	display: block;
}

nav ul 
{
margin: 0px;
padding: 0px;
}
nav ul li
{
list-style-type: none;
display:inline-block;
padding: 0.2em 0;
}

nav ul li a
{
	padding: 0.5px;
	font-weight: bold;
}

nav ul li a:visited
{
	color: #ff69b4;
}

nav ul li a:hover
{
	text-decoration: underline;
}

.round
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	
}

.microposts {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
 
  .content {
    display: block;
    margin-left: 60px;
   
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }